.bash_history
appsmith/
.m2/
.local/
.gnupg/
bin/
code/
go/
notas/
servers/
stacks/
.ssh/
.rustup/
.cargo/
.cache/
.bash_logout
.bash_profile
.node_repl_history
.z
.npm
.tmux
.keystore
.lemminx
.newsboat/cache.db
.newsboat/history.cmdline
.w3m/
.config/nvim/
.muttrc
.gitconfig
.config/tmux/plugins/
